 @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Space+Mono:ital,wght@0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
body{
    display:grid;
    height: 100vh;
}
.Encabezado{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    width: 100vw;
    font-size: 12px;
    color: rgb(100, 99, 99);
    
    /* border: 2px solid red; */
}
.Config__Hover{
    cursor: pointer;
}
.Config__Hover:hover{
    color: black; 
}
.Info__Encabezado{
    display: flex;
}
.Menu{
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.Menu p{
    margin-left: 20px;
}
.Tarea__Flecha{
    width: 8px;
    height: 7px;
    margin-left: 5px;
}

.Tarea__Iniciar{
    display: flex;
    align-items: center;
}
.Tarea__Iniciar button{
    margin: 0px 20px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 12px;
    background: #fff;
    color: rgb(100, 99, 99);
}
.Tarea__Menu{
    display: flex;
    padding: 40px 80px;
    /* border: 1px solid red; */
    position: absolute;
    width: max-content;
}
.Tarea__Opciones{
    display: flex;
    padding: 5px 0px;
}
.Tarea__Opciones p{
    margin-left: 15px;
    font-size: 14px;
}

.Menu__Factures{
    border: 1px solid black;
    padding: 0px 10px;
    width: 130px;
    height: 112px;
    border-radius: 10px;
    position: absolute;
    display: none;
}
.Menu__Company{
    border: 1px solid black; 
    padding: 0px 16px;
    width: 100px;
    border-radius: 10px;
    height: 90px;
    margin-left: 160px;
    display: none;
    position: absolute;
}

.Menu__Company p{
    padding: 5px 0px;
    font-size: 14px;
}
.Tareas{
    display: flex;
    width: 90vw;
    height: 500px;
    padding: 5px;
    margin: auto;
    justify-content: center;
    /* border: 2px solid black; */
}
.Tarea__Informacion{
    width: 445px;
    padding: 20px 20px;
    margin-right: 10vw;
    /* overflow: hidden; */
    /* border: 2px solid rgb(139, 38, 170); */
}
.Titulo{
    font-size: 36px;
    padding: 40px 0px
}
.Parrafo{
    display: flex;
    width: 370px;
    font-size: 14px;
    color: rgb(100, 99, 99);
    line-height: 20px;
}
.Tarea_Learn--More{
    padding: 30px 0px;
}
.Tarea_Learn--More button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: black;
    color: #fff;
    cursor: pointer;
}
.Tarea_Learn--More button:hover{
    background: #fff;
    color: black;
    font-weight: 600;
    border: 1px solid black;
}
.Tarea__Guias{
    padding: 30px 0px;  
    width: 400px;
    /* border: 2px solid rgb(0, 140, 255); */
}
.Tarea__Guias img{
    margin-left: 15px;
    width: 80px;
}
.Tarea__Imagen{
    height: 100%;
    width: 445px;
    padding: 0px 30px;   
    /* border: 2px solid rgb(0, 140, 255); */
}
.Imagen{
    height: 90%;
    width: 405px;
}
.Imagen__Movile{
    display: none;
}
@media (max-width:1096px){
    .Titulo{
        font-size: 30px;
    }
    .Parrafo{
        width: 300px;
    }
    
}
/* @media (max-width:500px){
    body{
        height: 140vh;
    }
    .Tareas{
        flex-direction: column-reverse;
        border: 1px solid red;
        height: 80%;
        position: relative;
    }
    .Info__General__Encabezado{
        display: none;
    }
    .Imagen{
        display: none;
    }
    .Imagen__Movile{
        display: grid;
        width: 90vw;
        position: absolute;
        left: 0px;
    }
} */
